* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("http://drive.google.com/uc?export=view&id=19uIpxtxjixtYHNLK1ZJ9anW8tqI0qGw_");
  background-repeat: no-repeat;
  background-size: cover;
  
}

h1 {
 font-family: 'Sancreek', cursive;
 color: #FFF9C4;
 font-size: 5em;
 text-align: center;
 text-shadow: 0 3px 3px #000;
}

 .contenedor {
  width: 100%;
  height: 400px;
  max-width: 1000px;
  min-width: 200px;
  margin: 0 auto;
  background: #00b386;
  text-align: center;
}

 .main {
  text-align: right;
}


.machine {
  display: flex;
  width: 100%;
  font-family:  cursive;
  color: #000;
  border-radius: 2px;
  margin-top: 100px;
  padding-top: -10px;
  float: center;
  position: relative;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;
}

 #h3 {
  display: flex;
  text-align: left;
  font-size: 1.7em;
  font-family: 'marvel';
  margin-top: -500px;
  justify-content: flex-start;
  align-items: flex-end;
  
}

h3 {
  font-family: 'Damion', cursive;
  font-size: 2em;
  text-align: center;
  float: left;
}

#but {
  padding: 1px 5px;
  font-size: 1.5em;
  border-radius: 30px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  border: 2px solid white;
  font-family: 'Damion', cursive;
}

#but:hover {
  background-color: #F4511E;
  color: black;
  transition: 1s;
}

#but:active {
  border: 2px solid white;
}

.nav-link {
  font-size: 1.7em;
  font-family: 'Damion', cursive;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.nav-link a {
  font-size: 40px;
  text-decoration: none;
  border-bottom: 10px dotted #000;
  color: #000;
}

.nav-link a:visited {
  color: rgb(194, 61, 8);
}

.nav-link a:hover {
  border-bottom: 10px dotted rgb(212, 96, 18);
  color: #000;
}



aside {
  display: flex;
  width: 100%;
  margin: auto;
  float: left;
  
}

.center-wrap {
  width: 100%;
  margin: auto;
  clear: both;
  text-align: center;
}
.title-container {
  background-color: #FF7043;
  display: inline-block;
  font-family: 'Sancreek', cursive;
  text-shadow: 0px 1px rgba(0,0,0,0.3);
  font-size: 42px;
  height: 60px;
  line-height: 60px;
  margin-top: 100px;
}
.title {
  min-width: 150px;
  max-width: 750px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-left: -75px;
  margin-right: -75px;
  -webkit-animation: title-width .8s ease;
  -moz-animation: title-width .8s ease;
  -o-animation: title-width .8s ease;
  animation: title-width .8s ease;
}
.title a {
  color: #fff;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
.title a:hover {
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
@-webkit-keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
@-moz-keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    -moz-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    -moz-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
@-o-keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
@keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
.backflag-left, .backflag-right {
  background: #000;
  width: 91px;
  height: 56px;
  position: relative;
  margin-top: 18px;
  z-index: -100;
  -webkit-animation: flag-back 1s ease;
  -moz-animation: flag-back 1s ease;
  -o-animation: flag-back 1s ease;
  animation: flag-back 1s ease;
}
.backflag-left {
  -webkit-transform: rotate(20deg) skew(20deg);
  -ms-transform: rotate(20deg) skew(20deg);
  transform: rotate(20deg) skew(20deg);
  float: left;
}
.backflag-right {
  -webkit-transform: rotate(-20deg) skew(-20deg);
  -ms-transform: rotate(-20deg) skew(-20deg);
  transform: rotate(-20deg) skew(-20deg);
  float: right;
}
@-webkit-keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
@-moz-keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
@-o-keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
@keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
.ribbon-left, .ribbon-right {
  background: #FF7043;
  margin-top: 31px;
  position: absolute;
  height: 60px;
  width: 120px;
  z-index: -300;
}
.ribbon-left {
  float: left;
  margin-left: -32px;
  text-align: center;
  -webkit-animation: flag-end-left 1s ease;
  -moz-animation: flag-end-left 1s ease;
  -o-animation: flag-end-left 1s ease;
  animation: flag-end-left 1s ease;
}
.ribbon-right {
  display: inline;
  margin-left: 3px;
  -webkit-animation: flag-end-right 1s ease;
  -moz-animation: flag-end-right 1s ease;
  -o-animation: flag-end-right 1s ease;
  animation: flag-end-right 1s ease;
}
@-webkit-keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@-moz-keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@-o-keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@-webkit-keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
@-moz-keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
@-o-keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
@keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
.ribbon-left:before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 30px solid #FF7043;
  border-left: 50px solid transparent;
  float: left;
  margin-left: -50px;
  margin-top: 30px;
}
.ribbon-left:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 30px solid #FF7043;
  border-left: 50px solid transparent;
  float: left;
  margin-left: -50px;
  margin-top: 0;
}
.ribbon-right:before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 30px solid #FF7043;
  border-right: 50px solid transparent;
  float: right;
  margin-right: -50px;
  margin-top: 30px;
}
.ribbon-right:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 30px solid #FF7043;
  border-right: 50px solid transparent;
  float: right;
  margin-right: -50px;
  margin-top: 0;
}
@media all and (max-width: 1340px) {
  .center-wrap {
    width: 100%;
  }
}
@media all and (max-width: 850px) {
  .title-container {
    font-size: 4.8vw;
  }
}


.about{
  padding: 10px;
  text-align: center;
  font-family: 'Marvel', sans-serif;
  font-size: 30px;
  color: #000;
}
.about-box {
  text-align: center;
}

.brecha {
  text-align: justify;
}
 

/* -------- About----------*/

.robot-head {
  max-width: 150px;
  padding: 50px;
  border: 13px double #E6EE9C;
  border-radius: 100%;
  /* margin: auto; */
  display: flex run-in;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.robot-head:focus,
.robot-head:hover {
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
  -webkit-box-shadow: 6px 6px 2px rgb(161, 179, 171);
  box-shadow: 6px 6px 2px rgb(161, 179, 171);
}

@media (min-width: 600px) {
.blog-post_images {
    min-width: 400px;
}
}

.about-box {
  padding: 80px;
  margin: 10px;
  float: left;
  justify-content: left;
 
}

#Infomex {
  background: #000;
  border: 6px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #f4511e inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 110px;
  width: 110px;
  color: white;
  letter-spacing: 1px;
  border: 2px solid white;
  font-family: 'Damion', cursive;
  font-size: 40px;
}

#Infomex:hover{
  background-color: #F4511E;
  color: black;
  transition: 1s;
}

#Infobra {
  background: #000;
  border: 6px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #f4511e inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 110px;
  width: 110px;
  color: white;
  letter-spacing: 1px;
  border: 2px solid white;
  font-family: 'Damion', cursive;
  font-size: 40px;
}

#Infobra:hover{
  background-color: #F4511E;
  color: black;
  transition: 1s;
}

#Infochi {
  background: #000;
  border: 6px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #f4511e inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 110px;
  width: 110px;
  color: white;
  letter-spacing: 1px;
  border: 2px solid white;
  font-family: 'Damion', cursive;
  font-size: 40px;
}

#Infochi:hover{
  background-color: #F4511E;
  color: black;
  transition: 1s;
}

#Infoper {

  background: #000;
  border: 6px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #f4511e inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: 110px;
  width: 110px;
  color: white;
  letter-spacing: 1px;
  border: 2px solid white;
  font-family: 'Damion', cursive;
  font-size: 40px;
}
 #Infoper:hover{
  background-color: #F4511E;
  color: black;
  transition: 1s;
 }